---
import { getLangFromUrl, getTranslations } from "../utils/translations";
import { education } from "../utils/educationList";

const lang = getLangFromUrl(Astro.url);
const t = getTranslations(lang);
---

<section class="w-full mt-12">
  <h3 class="font-headings text-2xl font-bold text-slate-200">
    {t("education.title")}
  </h3>
  <ul class="mt-8 flex flex-col space-y-4">
    {
      education.map((edu) => (
        <li class="border-b-1 border-slate-600 pb-1">
          <h4 class="text-lg font-bold text-main-text font-headings">
            {edu.mention[lang]}
          </h4>
          <p>{edu.institution}</p>
          <span class="text-slate-500 text-sm">
            {edu.startDate} - {edu.endDate}
          </span>
          <p class="text-sm text-slate-400">{edu.description[lang]}</p>
        </li>
      ))
    }
  </ul>
</section>
