---
import { actions } from "astro:actions";

const { data, error } = await Astro.callAction(actions.spotify.playing, {})
console.log(data)
---

{error && <p class="p-4">{error.message}</p>}
{data?.message && <p class="font-headings font-bold">{data.message}</p>}
{
  data?.spotify && (

    <div class="w-full flex items-center justify-between">
      <div class="flex justify-center items-center space-x-4">
        <img class="rounded-full w-14 h-14 animate-spin" src={data.spotify.item.album.images[0].url} alt={data.spotify.item.name}>
        <div class="flex flex-col">
          <p class="font-bold font-headings">{data.spotify.item.name}</p>
          <p class="text-sm">{data.spotify.item.artists[0].name}</p>
        </div>
      </div>
      <div class="bg-neutral-950/20 rounded-md p-2 transition-colors duration-300 ease-in-out hover:bg-neutral-950/40">
        <a href={data.spotify.item.external_urls.spotify} target="_blank">
          <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 3 20 12 6 21 6 3"/></svg>
        </a>
      </div>
    </div>
  )
}